<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include 'views/common/css.html'?>
</head>
<body>
    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <div class="avatar">
                <img src="views/public/uploads/monkey.png" class="img-circle" alt="">
            </div>
            <form action="" id="formLogin" class="col-md-offset-1 col-md-10">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" name="tc_name" class="form-control" placeholder="用户名">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" name="tc_pass" class="form-control" placeholder="密码">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">登 录</button>
            </form>
        </div>
    </div>
</body>
</html>

<?php include 'views/common/js.html'?>
<script>
    $('#formLogin').submit(function(){
        var data = $(this).serializeArray();
        $.ajax({
            // url: 'http://api.botue.com/login',
            url: '/api/login',
            type: 'post',
            data: data,
            success:function(result){
                alert('登陆成功');
                // var info = result.result; //用一个变量保存接收到的返回值（返回值是一个对象）
                // var infoStr = JSON.stringify(info); //把info对象转为字符串
                // $.cookie('tcinfo',infoStr); //把这段字符串保存到cookie的tcinfo里
                $.cookie('tcinfo',JSON.stringify(result.result));
                location.href ='/';
            },
            error:function(){
                alert('请输入正确的用户名和密码');
            }
        })

        return false;
    })
</script>